@import "./variaveis.css";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cor-background);
  color: var(--cor-font);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 350px;
}

h1 {
  margin-top: 80px;
  margin-bottom: 50px;
  font-size: 30px;
  text-align: center;
}

p {
  margin-bottom: 10px;
  font-size: 20px;
}

.input {
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 4px;
}

.input:hover {
  border: 2px solid #cf035c;
}

#valorPeso {
  margin-bottom: 30px;
}

#valorAltura {
  margin-bottom: 50px;
}

.botao {
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: var(--cor-botao);
  transition: 0.3s;
  color: #fff;
}

.botao:hover {
  background-color: var(--cor-botao-hover);
}

h3 {
  font-weight: normal;
}

#resposta {
  margin-top: 20px;
  text-align: center;
}

#retornaPesoIdeal {
  text-align: center;
}
